@page "/tasks"
@layout MainLayout
@inherits RadzenCrm.Pages.TasksComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm.Models.Crm
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tasks">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getTasksResult" TItem="RadzenCrm.Models.Crm.Task" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="RadzenCrm.Models.Crm.Task" Property="Id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenCrm.Models.Crm.Task" Property="Title" Title="Title">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenCrm.Models.Crm.Task" Property="OpportunityId" SortProperty="Opportunity.Name" GroupProperty="Opportunity.Name" FilterProperty="Opportunity.Name" Title="Opportunity">
              <Template Context="data">
              @(data.Opportunity?.Name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenCrm.Models.Crm.Task" Property="DueDate" FormatString="{0:MM/dd/yyyy}" Title="Due Date">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenCrm.Models.Crm.Task" Property="TypeId" SortProperty="TaskType.Name" GroupProperty="TaskType.Name" FilterProperty="TaskType.Name" Title="Task Type">
              <Template Context="data">
              @(data.TaskType?.Name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenCrm.Models.Crm.Task" Property="StatusId" SortProperty="TaskStatus.Name" GroupProperty="TaskStatus.Name" FilterProperty="TaskStatus.Name" Title="Task Status">
              <Template Context="data">
              @(data.TaskStatus?.Name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenCrm.Models.Crm.Task" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="radzenCrmModelsCrmTask">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radzenCrmModelsCrmTask))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
